<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All news articles belong to <a href="https://www.nytimes.com/" target="_blank">The New York Times</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>