<div>
    <h1 class="card z-depth-3 center-align">Read today's headlines from the New York Times</h1>
    <div class="row">
        <div class="col s3"></div>
        <h5 class="card z-depth-3 center-align col s6">Click 'Scrape' to read the most recent articles</h5>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8 left-align">
        {{#each article}}
        <div class="card-panel">
            <h4>{{this.title}}</h4>
            <a href="/readArticle/{{this._id}}" class="waves-effect waves-light btn" id="btnSignUp">Read article</a>

        </div>

        {{/each}}
    </div>
</div>