<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">NYT News Scrapper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
            <li><a href="https://github.com/nanzycharris/newscrapper" target="_blank">GitHub Repo</a></li>
        </ul>
    </div>
</nav>